@tailwind base;
@tailwind components;
@tailwind utilities;

/* Discord-like custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #2a2b2f;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #383a40;
}
